In [1]:
import numpy as np
import pandas as pd

# to visualize all the column, run the below code
pd.options.display.max_columns = None
# to show all the records, use the below code
# pd.options.display.max_rows = None

## Fifa Worldcup - 2022 dataset.

You can find the dataset from [here](https://www.kaggle.com/datasets/sayanroy729/fifa-worldcup-2022-results).

Also you can directly use an url to read the dataset by using `pd.read_csv()` method. Check the below code cell.

In [2]:
# To get the details about the dataset, please visit
# https://www.kaggle.com/datasets/sayanroy729/fifa-worldcup-2022-results

url = "https://docs.google.com/spreadsheets/d/e/2PACX-1vT3D_x_4DS6d51LKJ7ze1sxT5WpV5uiSVOFYHLwBiGru6vFyVv5h5-83AwFjxWYiWfCDjDAaarHAV-k/pub?gid=0&single=true&output=csv"
df = pd.read_csv(url)
df

,Sl. No,Match No.,Team,Against,Group,Goal,Possession (%),Inside Penalty Area,Outside Penalty Area,Assists,Total Attempts,On Target,Off Target,Target in Penalty,Target from Outside,Left Channel,Left Inside Channel,Central Channel,Right Inside Channel,Right Channel,Receptions MD,Receptions D,Attempted Line Breaks,Completed Line Breaks,Attempted Defensive Line Breaks,Completed Defensive Line Breaks,Yellow Cards,Red Cards,Fouls Against,Offsides,Passes,Passes Completed,Crosses,Crosses Completed,Corners,Free Kicks,Penalties Scored,Pts
0,1,1,Qatar,Ecuador,A,0,40,0,0,0,5,0,5,2,3,15,0,3,1,9,45,5,159,100,6,4,4,0,15,3,453,387,10,5,1,19,0,0
1,2,1,Ecuador,Qatar,A,2,46,2,0,1,5,5,2,4,1,8,7,6,4,6,55,10,159,103,6,4,2,0,15,4,484,419,26,10,3,17,1,3
2,3,2,England,Iran,B,6,69,6,0,6,13,7,3,10,3,11,5,2,3,11,72,15,133,94,8,6,0,0,9,2,810,733,29,9,8,16,0,3
3,4,2,Iran,England,B,2,20,2,0,1,8,3,4,6,2,3,0,3,1,1,34,1,56,19,1,1,2,0,14,2,232,156,11,3,0,10,1,0
4,5,3,Senegal,Netherlands,A,0,39,0,0,0,15,4,7,8,7,12,4,2,4,13,101,12,143,86,6,6,2,0,13,2,391,326,22,8,6,14,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123,124,62,Morocco,Fram,F,0,55,0,0,0,13,1,6,8,5,10,4,6,6,19,74,15,141,95,18,11,1,0,11,3,583,518,22,1,3,15,0,0
124,125,63,Croatia,Morocco,F,2,45,2,0,2,14,4,8,7,7,20,8,3,2,7,106,15,164,114,23,12,0,0,13,2,491,430,21,3,6,13,0,3
125,126,63,Morocco,Croatia,F,1,45,1,0,0,7,2,5,5,2,13,1,3,7,16,75,10,150,97,14,8,2,0,11,2,494,428,20,5,3,15,0,0
126,127,64,Argentina,France,C,3,46,3,0,1,21,9,9,13,8,13,6,8,9,9,163,28,249,172,40,24,4,0,26,4,648,544,20,4,6,22,5,3
127,128,64,France,Argentina,D,3,40,3,0,1,10,5,3,7,3,15,7,5,4,12,69,9,179,107,14,9,3,0,19,4,516,419,24,3,5,28,4,0

### `Q-1:` Use the football dataset. Find out the total percentages that each team made on target. Display the result as a python dictionary where the keys are the team list and the values are the percentage values. Round off the percentage values up to 2 decimal places.

*Help:*
- First, find out how many total teams are participated in this worldcup. For that, you can use `unique()` method on the column "Team" or "Against".
- Loop through the teams list that you have found in previous section, and then filter the dataset according to that. After filtering the dataset, find out total attempts sum and total on target sum.
- After getting these values, find out the percentage by total on target divided by total attempts and multiply by 100. And store to a python dictionary where the key will be the team name and the values will be the percentages. 
- At the end,sort the dictionary by the values (not by the keys) and print the result.


**Sample Output:**
```bash
{'Costa Rica': 54.55,
 'Cameroon': 51.85,
 'Ecuador': 48.15,
 'Argentina': 46.99,
 'Brazil': 45.56,
 'England': 45.0,
 'Portugal': 40.32,
 'Ghana': 40.0,
 'Netherlands': 39.02,
 'Korea Republic': 36.73,
 'Australia': 36.0,
 'Mexico': 34.88,
 'Croatia': 34.78,
 'Germany': 34.33,
 'France': 32.97,
 'Spain': 32.69,
 'Belgium': 32.35,
 'Serbia': 32.26,
 'Iran': 31.43,
 'Uruguay': 31.25,
 'United States': 31.11,
 'Saudi Arabia': 31.03,
 'Senegal': 30.77,
 'Denmark': 30.56,
 'Switzerland': 30.56,
 'Japan': 30.23,
 'Wales': 29.17,
 'Qatar': 28.57,
 'Morocco': 28.3,
 'Tunisia': 26.67,
 'Poland': 25.0,
 'Canada': 17.65}
```

In [3]:
# finding total of teams
teams = df['Team'] 
against = df['Against']

total_teams = pd.concat([teams,against]).unique()
total_teams

array(['Qatar', 'Ecuador', 'England', 'Iran', 'Senegal', 'Netherlands',
       'United States', 'Wales', 'Argentina', 'Saudi Arabia', 'Denmark',
       'Tunisia', 'Mexico', 'Poland', 'France', 'Australia', 'Morocco',
       'Croatia', 'Germany', 'Japan', 'Spain', 'Costa Rica', 'Belgium',
       'Canada', 'Switzerland', 'Cameroon', 'Uruguay', 'Korea Republic',
       'Portugal', 'Ghana', 'Brazil', 'Serbia', 'Fram'], dtype=object)

In [4]:

# df[(df['Team'] == 'England') | (df['Against'] == 'England')]['Total Attempts'].sum()

In [5]:
made_on_target = {}

for i in total_teams:
  total_attempts_sum = df[(df['Team'] == i) | (df['Against'] == i)]['Total Attempts'].sum()
  total_on_target_sum = df[(df['Team'] == i) | (df['Against'] == i)]['On Target'].sum()

  percentage = (total_attempts_sum / total_on_target_sum) * 100

  made_on_target[i] = float("{:.2f}".format(percentage))



made_on_target

{'Qatar': 263.16,
 'Ecuador': 245.0,
 'England': 260.0,
 'Iran': 269.23,
 'Senegal': 303.45,
 'Netherlands': 270.0,
 'United States': 278.57,
 'Wales': 323.81,
 'Argentina': 233.33,
 'Saudi Arabia': 271.43,
 'Denmark': 350.0,
 'Tunisia': 310.53,
 'Mexico': 319.05,
 'Poland': 278.38,
 'France': 281.36,
 'Australia': 314.29,
 'Morocco': 397.06,
 'Croatia': 270.0,
 'Germany': 270.59,
 'Japan': 332.26,
 'Spain': 274.07,
 'Costa Rica': 274.07,
 'Belgium': 334.78,
 'Canada': 300.0,
 'Switzerland': 240.62,
 'Cameroon': 241.38,
 'Uruguay': 338.89,
 'Korea Republic': 285.29,
 'Portugal': 270.73,
 'Ghana': 246.43,
 'Brazil': 243.14,
 'Serbia': 234.29,
 'Fram': 1300.0}

### `Q-2:` Find out how many times the teams are played in this Fifa Worldcup-2022. On top of this, find out the ranks of the teams. 

Note: The `DataFrame.rank()` method takes an optiinal parameter named `method`. This parameter takes different values, but one of them is `average` which is by-default. So, when you do the rank, you will get some 2.5 like floating values. But if you change the value as `first`, then you will get in integers but the datatype will be float. So, try with `method="first"` parameter.

In [6]:
# code here
teams = df['Team'] 
against = df['Against']

total_matches_played_by_teams = pd.concat([teams,against]).value_counts()
total_matches_played_by_teams

Morocco           14
Argentina         14
Croatia           14
France            13
England           10
Netherlands       10
Brazil            10
Portugal          10
Poland             8
Spain              8
Japan              8
Switzerland        8
Australia          8
Korea Republic     8
United States      8
Senegal            8
Uruguay            6
Belgium            6
Cameroon           6
Ghana              6
Serbia             6
Canada             6
Qatar              6
Costa Rica         6
Germany            6
Ecuador            6
Mexico             6
Tunisia            6
Denmark            6
Saudi Arabia       6
Wales              6
Iran               6
Fram               1
dtype: int64

In [7]:
ranking = total_matches_played_by_teams.rank(method='dense',ascending=False).astype(int)
ranking

Morocco           1
Argentina         1
Croatia           1
France            2
England           3
Netherlands       3
Brazil            3
Portugal          3
Poland            4
Spain             4
Japan             4
Switzerland       4
Australia         4
Korea Republic    4
United States     4
Senegal           4
Uruguay           5
Belgium           5
Cameroon          5
Ghana             5
Serbia            5
Canada            5
Qatar             5
Costa Rica        5
Germany           5
Ecuador           5
Mexico            5
Tunisia           5
Denmark           5
Saudi Arabia      5
Wales             5
Iran              5
Fram              6
dtype: int64

### `Q-3:` Find out these below topics:
- The information about the Fifa worldcup dataset.
- The description about the Fifa worldcup dataset
- Check is there any missing values, if there is any missing values, fill that value with the average value for that particular column.
- Drop all the duplicate rows permanently.
- Drop the columns: "Sl No", "Match No.", "Red Cards" and "Pts" permanently.

In [8]:
# code here
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128 entries, 0 to 127
Data columns (total 38 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Sl. No                           128 non-null    int64
 1   Match No.                        128 non-null    int64
 2   Team                             128 non-null    object
 3   Against                          128 non-null    object
 4   Group                            128 non-null    object
 5   Goal                             128 non-null    int64
 6   Possession (%)                   128 non-null    int64
 7   Inside Penalty Area              128 non-null    int64
 8   Outside Penalty Area             128 non-null    int64
 9   Assists                          128 non-null    int64
 10  Total Attempts                   128 non-null    int64
 11  On Target                        128 non-null    int64
 12  Off Target                       128 non-null    int64
 13  Target in Penalty                128 non-null    int64
 14  Target from Outside              128 non-null    int64
 15  Left Channel                     128 non-null    int64
 16  Left Inside Channel              128 non-null    int64
 17  Central Channel                  128 non-null    int64
 18  Right Inside Channel             128 non-null    int64
 19  Right Channel                    128 non-null    int64
 20  Receptions MD                    128 non-null    int64
 21  Receptions D                     128 non-null    int64
 22  Attempted Line Breaks            128 non-null    int64
 23  Completed Line Breaks            128 non-null    int64
 24  Attempted Defensive Line Breaks  128 non-null    int64
 25  Completed Defensive Line Breaks  128 non-null    int64
 26  Yellow Cards                     128 non-null    int64
 27  Red Cards                        128 non-null    int64
 28  Fouls Against                    128 non-null    int64
 29  Offsides                         128 non-null    int64
 30  Passes                           128 non-null    int64
 31  Passes Completed                 128 non-null    int64
 32  Crosses                          128 non-null    int64
 33  Crosses Completed                128 non-null    int64
 34  Corners                          128 non-null    int64
 35  Free Kicks                       128 non-null    int64
 36  Penalties Scored                 128 non-null    int64
 37  Pts                              128 non-null    int64
dtypes: int64(35), object(3)
memory usage: 38.1+ KB

In [9]:
df.describe()

,Sl. No,Match No.,Goal,Possession (%),Inside Penalty Area,Outside Penalty Area,Assists,Total Attempts,On Target,Off Target,Target in Penalty,Target from Outside,Left Channel,Left Inside Channel,Central Channel,Right Inside Channel,Right Channel,Receptions MD,Receptions D,Attempted Line Breaks,Completed Line Breaks,Attempted Defensive Line Breaks,Completed Defensive Line Breaks,Yellow Cards,Red Cards,Fouls Against,Offsides,Passes,Passes Completed,Crosses,Crosses Completed,Corners,Free Kicks,Penalties Scored,Pts
count,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000
mean,64.500000,32.500000,1.343750,43.476562,1.203125,0.117188,0.914062,11.257812,4.007812,4.835938,6.914062,4.343750,13.562500,4.671875,4.906250,4.648438,12.234375,92.703125,12.453125,169.281250,109.476562,14.812500,8.265625,1.726562,0.023438,12.320312,1.976562,502.859375,430.929688,19.523438,4.898438,4.468750,14.250000,0.335938,1.429688
std,37.094474,18.545539,1.342448,11.442403,1.324270,0.322907,1.150333,5.406683,2.588576,2.610630,3.998085,2.733397,6.901729,2.886595,3.080131,2.936573,6.176517,29.440547,18.152399,34.120661,30.776298,7.230458,5.101311,1.514834,0.151883,4.691983,1.731891,160.160487,160.893724,8.596799,3.520111,2.774852,4.712189,0.941412,1.389973
min,1.000000,1.000000,0.000000,14.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,1.000000,32.000000,0.000000,56.000000,19.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,225.000000,156.000000,4.000000,0.000000,0.000000,5.000000,0.000000,0.000000
25%,32.750000,16.750000,0.000000,35.000000,0.000000,0.000000,0.000000,7.750000,2.000000,3.000000,4.000000,3.000000,8.000000,2.000000,3.000000,3.000000,8.000000,72.750000,7.000000,149.500000,87.750000,10.000000,5.000000,1.000000,0.000000,9.000000,1.000000,398.250000,323.250000,13.000000,3.000000,2.000000,11.000000,0.000000,0.000000
50%,64.500000,32.500000,1.000000,45.000000,1.000000,0.000000,1.000000,10.000000,4.000000,4.000000,6.000000,4.000000,12.000000,4.500000,4.000000,4.000000,11.000000,93.000000,9.000000,170.500000,106.000000,15.000000,8.000000,2.000000,0.000000,12.000000,2.000000,495.500000,419.000000,19.000000,4.000000,4.000000,14.000000,0.000000,1.000000
75%,96.250000,48.250000,2.000000,51.000000,2.000000,0.000000,1.000000,14.000000,6.000000,6.000000,9.000000,5.000000,18.000000,7.000000,6.250000,6.000000,16.250000,111.250000,14.000000,188.000000,129.000000,20.000000,11.000000,2.000000,0.000000,15.000000,3.000000,589.500000,519.750000,24.000000,6.000000,6.000000,17.000000,0.000000,3.000000
max,128.000000,64.000000,7.000000,78.000000,7.000000,1.000000,6.000000,32.000000,13.000000,17.000000,24.000000,15.000000,36.000000,13.000000,16.000000,19.000000,29.000000,186.000000,192.000000,259.000000,192.000000,40.000000,27.000000,8.000000,1.000000,30.000000,10.000000,1070.000000,994.000000,53.000000,25.000000,14.000000,30.000000,5.000000,3.000000

In [10]:
df.isnull()

,Sl. No,Match No.,Team,Against,Group,Goal,Possession (%),Inside Penalty Area,Outside Penalty Area,Assists,Total Attempts,On Target,Off Target,Target in Penalty,Target from Outside,Left Channel,Left Inside Channel,Central Channel,Right Inside Channel,Right Channel,Receptions MD,Receptions D,Attempted Line Breaks,Completed Line Breaks,Attempted Defensive Line Breaks,Completed Defensive Line Breaks,Yellow Cards,Red Cards,Fouls Against,Offsides,Passes,Passes Completed,Crosses,Crosses Completed,Corners,Free Kicks,Penalties Scored,Pts
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
124,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
125,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
126,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
127,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [11]:
df[df.duplicated()] # no duplicated values

Empty DataFrame
Columns: [Sl. No, Match No., Team, Against, Group, Goal, Possession (%), Inside Penalty Area, Outside Penalty Area, Assists, Total Attempts, On Target, Off Target, Target in Penalty, Target from Outside, Left Channel, Left Inside Channel, Central Channel, Right Inside Channel, Right Channel, Receptions MD, Receptions D, Attempted Line Breaks, Completed Line Breaks, Attempted Defensive Line Breaks, Completed Defensive Line Breaks, Yellow Cards, Red Cards, Fouls Against, Offsides, Passes, Passes Completed, Crosses, Crosses Completed, Corners, Free Kicks, Penalties Scored, Pts]
Index: []

In [12]:
# Dropping columns permanently

df = df.drop(["Sl. No", "Match No.", "Red Cards"],axis=1)
df

,Team,Against,Group,Goal,Possession (%),Inside Penalty Area,Outside Penalty Area,Assists,Total Attempts,On Target,Off Target,Target in Penalty,Target from Outside,Left Channel,Left Inside Channel,Central Channel,Right Inside Channel,Right Channel,Receptions MD,Receptions D,Attempted Line Breaks,Completed Line Breaks,Attempted Defensive Line Breaks,Completed Defensive Line Breaks,Yellow Cards,Fouls Against,Offsides,Passes,Passes Completed,Crosses,Crosses Completed,Corners,Free Kicks,Penalties Scored,Pts
0,Qatar,Ecuador,A,0,40,0,0,0,5,0,5,2,3,15,0,3,1,9,45,5,159,100,6,4,4,15,3,453,387,10,5,1,19,0,0
1,Ecuador,Qatar,A,2,46,2,0,1,5,5,2,4,1,8,7,6,4,6,55,10,159,103,6,4,2,15,4,484,419,26,10,3,17,1,3
2,England,Iran,B,6,69,6,0,6,13,7,3,10,3,11,5,2,3,11,72,15,133,94,8,6,0,9,2,810,733,29,9,8,16,0,3
3,Iran,England,B,2,20,2,0,1,8,3,4,6,2,3,0,3,1,1,34,1,56,19,1,1,2,14,2,232,156,11,3,0,10,1,0
4,Senegal,Netherlands,A,0,39,0,0,0,15,4,7,8,7,12,4,2,4,13,101,12,143,86,6,6,2,13,2,391,326,22,8,6,14,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123,Morocco,Fram,F,0,55,0,0,0,13,1,6,8,5,10,4,6,6,19,74,15,141,95,18,11,1,11,3,583,518,22,1,3,15,0,0
124,Croatia,Morocco,F,2,45,2,0,2,14,4,8,7,7,20,8,3,2,7,106,15,164,114,23,12,0,13,2,491,430,21,3,6,13,0,3
125,Morocco,Croatia,F,1,45,1,0,0,7,2,5,5,2,13,1,3,7,16,75,10,150,97,14,8,2,11,2,494,428,20,5,3,15,0,0
126,Argentina,France,C,3,46,3,0,1,21,9,9,13,8,13,6,8,9,9,163,28,249,172,40,24,4,26,4,648,544,20,4,6,22,5,3
127,France,Argentina,D,3,40,3,0,1,10,5,3,7,3,15,7,5,4,12,69,9,179,107,14,9,3,19,4,516,419,24,3,5,28,4,0

###`Q-4:` Do these below operations:
- Find out the rank based on the "Team" column and save the result by adding a new column named "Rank".
- Change the datatype of this column to integer by using `np.int16`
- Set the index of the DataFrame by using this "Rank" column permanently.
- After that, sort the dataframe based on the "Rank" index.

In [13]:
# code here
df['Rank'] = df['Team'].map(df['Team'].value_counts().rank(method='dense', ascending=True))
df['Rank'] = df['Rank'].astype(int)
df['Rank']
df

,Team,Against,Group,Goal,Possession (%),Inside Penalty Area,Outside Penalty Area,Assists,Total Attempts,On Target,Off Target,Target in Penalty,Target from Outside,Left Channel,Left Inside Channel,Central Channel,Right Inside Channel,Right Channel,Receptions MD,Receptions D,Attempted Line Breaks,Completed Line Breaks,Attempted Defensive Line Breaks,Completed Defensive Line Breaks,Yellow Cards,Fouls Against,Offsides,Passes,Passes Completed,Crosses,Crosses Completed,Corners,Free Kicks,Penalties Scored,Pts,Rank
0,Qatar,Ecuador,A,0,40,0,0,0,5,0,5,2,3,15,0,3,1,9,45,5,159,100,6,4,4,15,3,453,387,10,5,1,19,0,0,1
1,Ecuador,Qatar,A,2,46,2,0,1,5,5,2,4,1,8,7,6,4,6,55,10,159,103,6,4,2,15,4,484,419,26,10,3,17,1,3,1
2,England,Iran,B,6,69,6,0,6,13,7,3,10,3,11,5,2,3,11,72,15,133,94,8,6,0,9,2,810,733,29,9,8,16,0,3,3
3,Iran,England,B,2,20,2,0,1,8,3,4,6,2,3,0,3,1,1,34,1,56,19,1,1,2,14,2,232,156,11,3,0,10,1,0,1
4,Senegal,Netherlands,A,0,39,0,0,0,15,4,7,8,7,12,4,2,4,13,101,12,143,86,6,6,2,13,2,391,326,22,8,6,14,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123,Morocco,Fram,F,0,55,0,0,0,13,1,6,8,5,10,4,6,6,19,74,15,141,95,18,11,1,11,3,583,518,22,1,3,15,0,0,4
124,Croatia,Morocco,F,2,45,2,0,2,14,4,8,7,7,20,8,3,2,7,106,15,164,114,23,12,0,13,2,491,430,21,3,6,13,0,3,4
125,Morocco,Croatia,F,1,45,1,0,0,7,2,5,5,2,13,1,3,7,16,75,10,150,97,14,8,2,11,2,494,428,20,5,3,15,0,0,4
126,Argentina,France,C,3,46,3,0,1,21,9,9,13,8,13,6,8,9,9,163,28,249,172,40,24,4,26,4,648,544,20,4,6,22,5,3,4
127,France,Argentina,D,3,40,3,0,1,10,5,3,7,3,15,7,5,4,12,69,9,179,107,14,9,3,19,4,516,419,24,3,5,28,4,0,4

The values in the 'Rank' column may be coming as NaN (Not a Number) due to the application of the value_counts() function on the 'Team' column. The value_counts() function returns a Series that counts the occurrences of each unique value in the 'Team' column.

If a team appears only once in the 'Team' column, the corresponding count will be 1, and when applying the rank() function with method='dense', it will assign a rank of 1 to that team. However, if a team appears multiple times, the value_counts() function will provide the count for each team, but the rank() function will not assign a rank to any repeated team. This can result in NaN values in the 'Rank' column for teams that have a count greater than 1.

used the **map()** function to assign ranks to teams based on their counts. This approach ensures that teams with the same count are assigned the same rank. Finally, I printed the 'Rank' column of the DataFrame, which now contains the desired ranks for each team.

## Questions on Titanic dataset.

You can get the dataset from [here](https://www.kaggle.com/competitions/titanic). This is the competition page on Kaggle. To download the dataset from here, I guess you have to register for the compition. So, do so and then download the dataset.

Also, for now you can use this url to read the dataset like before: 
- dataset 1: https://docs.google.com/spreadsheets/d/e/2PACX-1vQjh5HzZ1N0SU7ME9ZQRzeVTaXaGsV97rU8R7eAcg53k27GTstJp9cRUOfr55go1GRRvTz1NwvyOnuh/pub?gid=1562145139&single=true&output=csv
- dataset 2: https://docs.google.com/spreadsheets/d/e/2PACX-1vQcPvQsSC9aNFogvbUG08nu0bGHlOclGYaOlhND_LE5Ff7ZnHQ5VYzAgpyT5XNklgiT54SsNgHePsUa/pub?gid=1656109608&single=true&output=csv

### `Q-5:` Do the below tasks:
1. With dataset 1, drop those records which only have missing values of the "Age" column permanently.

2. With the dataset 2, fill the missing values with 20 to the only "Age" column permanently.

In [14]:
# code here
url = 'https://docs.google.com/spreadsheets/d/e/2PACX-1vQjh5HzZ1N0SU7ME9ZQRzeVTaXaGsV97rU8R7eAcg53k27GTstJp9cRUOfr55go1GRRvTz1NwvyOnuh/pub?gid=1562145139&single=true&output=csv'
data1 = pd.read_csv(url)

data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [15]:
# dropping rows which has missing values in Age column

data1 = data1.dropna(subset=['Age'])
data1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 714 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  714 non-null    int64
 1   Survived     714 non-null    int64
 2   Pclass       714 non-null    int64
 3   Name         714 non-null    object
 4   Sex          714 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        714 non-null    int64
 7   Parch        714 non-null    int64
 8   Ticket       714 non-null    object
 9   Fare         714 non-null    float64
 10  Cabin        185 non-null    object
 11  Embarked     712 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 72.5+ KB

In [16]:
# dataset 2

url2 = 'https://docs.google.com/spreadsheets/d/e/2PACX-1vQcPvQsSC9aNFogvbUG08nu0bGHlOclGYaOlhND_LE5Ff7ZnHQ5VYzAgpyT5XNklgiT54SsNgHePsUa/pub?gid=1656109608&single=true&output=csv'

data2 = pd.read_csv(url2)

data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [17]:
# replaing nan values with 20  in Age column

In [18]:
data2[data2['Age'].isna()] = 20

In [19]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          418 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        173 non-null    object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

## Questions on IPL wala dataset

matches dataset = https://drive.google.com/file/d/1yKVUuexl6lIKuFQy7uIPgDgXhJ0L4SIg/view?usp=share_link

Code to directly use in colab
```
ipl_matches = "https://docs.google.com/spreadsheets/d/e/2PACX-1vRy2DUdUbaKx_Co9F0FSnIlyS-8kp4aKv_I0-qzNeghiZHAI_hw94gKG22XTxNJHMFnFVKsO4xWOdIs/pub?gid=1655759976&single=true&output=csv"

```

###`Q-6:` Make a dataframe of each team in IPL with details like - Team Name, Matches Played, Win%, Home Win%, Away Win%.
Show sorted dataframe on Win%

Replace old team name as new name before performing any tasks.
```
Delhi Daredevils ->Delhi Capitals
Kings XI Punjab -> Punjab Kings
Rising Pune Supergiants -> Rising Pune Supergiant
```

Note: Team1 represents Home team. Exclude not result matches.

In [20]:
# code here
ipl_matches = "https://docs.google.com/spreadsheets/d/e/2PACX-1vRy2DUdUbaKx_Co9F0FSnIlyS-8kp4aKv_I0-qzNeghiZHAI_hw94gKG22XTxNJHMFnFVKsO4xWOdIs/pub?gid=1655759976&single=true&output=csv"

ipl = pd.read_csv(ipl_matches)

ipl.head()

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon
2,1312198,Kolkata,2022-05-25,2022,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,field,N,Royal Challengers Bangalore,Runs,14.0,NaN,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough
3,1312197,Kolkata,2022-05-24,2022,Qualifier 1,Rajasthan Royals,Gujarat Titans,"Eden Gardens, Kolkata",Gujarat Titans,field,N,Gujarat Titans,Wickets,7.0,NaN,DA Miller,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",BNJ Oxenford,VK Sharma
4,1304116,Mumbai,2022-05-22,2022,70,Sunrisers Hyderabad,Punjab Kings,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,bat,N,Punjab Kings,Wickets,5.0,NaN,Harpreet Brar,"['PK Garg', 'Abhishek Sharma', 'RA Tripathi', ...","['JM Bairstow', 'S Dhawan', 'M Shahrukh Khan',...",AK Chaudhary,NA Patwardhan

In [117]:
# changing old names to new names

old_team_names = ['Delhi Daredevils','Kings XI Punjab','Rising Pune Supergiants']
condition = (ipl['Team1'].isin(old_team_names)) |(ipl['Team2'].isin(old_team_names) | (ipl['WinningTeam'].isin(old_team_names)))


mapping = {
    'Delhi Daredevils' : 'Delhi Capitals',
    'Kings XI Punjab' : 'Punjab Kings',
    'Rising Pune Supergiants' : 'Rising Pune Supergiant'
}

ipl.loc[condition,['Team1','Team2','WinningTeam']] = ipl.loc[condition,['Team1','Team2','WinningTeam']].replace(mapping)

ipl[condition]

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
148,1216520,NaN,2020-10-26,2020/21,46,Kolkata Knight Riders,Punjab Kings,Sharjah Cricket Stadium,Kings XI Punjab,field,N,Punjab Kings,Wickets,8.0,NaN,CH Gayle,"['Shubman Gill', 'N Rana', 'RA Tripathi', 'KD ...","['KL Rahul', 'Mandeep Singh', 'CH Gayle', 'N P...",KN Ananthapadmanabhan,RK Illingworth
151,1216498,NaN,2020-10-24,2020/21,43,Punjab Kings,Sunrisers Hyderabad,Dubai International Cricket Stadium,Sunrisers Hyderabad,field,N,Punjab Kings,Runs,12.0,NaN,CJ Jordan,"['KL Rahul', 'Mandeep Singh', 'CH Gayle', 'N P...","['DA Warner', 'JM Bairstow', 'MK Pandey', 'Abd...",AY Dandekar,PR Reiffel
156,1216546,NaN,2020-10-20,2020/21,38,Delhi Capitals,Punjab Kings,Dubai International Cricket Stadium,Delhi Capitals,bat,N,Punjab Kings,Wickets,5.0,NaN,S Dhawan,"['PP Shaw', 'S Dhawan', 'SS Iyer', 'RR Pant', ...","['KL Rahul', 'MA Agarwal', 'CH Gayle', 'N Poor...",C Shamshuddin,RK Illingworth
159,1216517,NaN,2020-10-18,2020/21,36,Mumbai Indians,Punjab Kings,Dubai International Cricket Stadium,Mumbai Indians,bat,Y,Punjab Kings,SuperOver,NaN,NaN,KL Rahul,"['RG Sharma', 'Q de Kock', 'SA Yadav', 'Ishan ...","['KL Rahul', 'MA Agarwal', 'CH Gayle', 'N Poor...",Nitin Menon,PR Reiffel
163,1216531,NaN,2020-10-15,2020/21,31,Royal Challengers Bangalore,Punjab Kings,Sharjah Cricket Stadium,Royal Challengers Bangalore,bat,N,Punjab Kings,Wickets,8.0,NaN,KL Rahul,"['AJ Finch', 'D Padikkal', 'V Kohli', 'Washing...","['KL Rahul', 'MA Agarwal', 'CH Gayle', 'N Poor...",KN Ananthapadmanabhan,C Shamshuddin
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
933,335998,Delhi,2008-04-30,2007/08,17,Delhi Capitals,Royal Challengers Bangalore,Feroz Shah Kotla,Royal Challengers Bangalore,field,N,Delhi Capitals,Runs,10.0,NaN,GD McGrath,"['G Gambhir', 'V Sehwag', 'S Dhawan', 'Shoaib ...","['P Kumar', 'W Jaffer', 'LRPL Taylor', 'JH Kal...",Aleem Dar,I Shivram
936,335995,Chandigarh,2008-04-27,2007/08,13,Punjab Kings,Delhi Capitals,"Punjab Cricket Association Stadium, Mohali",Delhi Daredevils,bat,N,Punjab Kings,Wickets,4.0,NaN,SM Katich,"['K Goel', 'SM Katich', 'KC Sangakkara', 'DPMD...","['G Gambhir', 'V Sehwag', 'S Dhawan', 'Shoaib ...",RE Koertzen,I Shivram
940,335991,Chandigarh,2008-04-25,2007/08,10,Punjab Kings,Mumbai Indians,"Punjab Cricket Association Stadium, Mohali",Mumbai Indians,field,N,Punjab Kings,Runs,66.0,NaN,KC Sangakkara,"['K Goel', 'IK Pathan', 'KC Sangakkara', 'Yuvr...","['L Ronchi', 'ST Jayasuriya', 'RV Uthappa', 'D...",Aleem Dar,AM Saheba
943,335988,Hyderabad,2008-04-22,2007/08,7,Deccan Chargers,Delhi Capitals,"Rajiv Gandhi International Stadium, Uppal",Deccan Chargers,bat,N,Delhi Capitals,Wickets,9.0,NaN,V Sehwag,"['AC Gilchrist', 'Y Venugopal Rao', 'VVS Laxma...","['G Gambhir', 'V Sehwag', 'S Dhawan', 'Shoaib ...",IL Howell,AM Saheba
947,335984,Delhi,2008-04-19,2007/08,3,Delhi Capitals,Rajasthan Royals,Feroz Shah Kotla,Rajasthan Royals,bat,N,Delhi Capitals,Wickets,9.0,NaN,MF Maharoof,"['G Gambhir', 'V Sehwag', 'S Dhawan', 'MK Tiwa...","['T Kohli', 'YK Pathan', 'SR Watson', 'M Kaif'...",Aleem Dar,GA Pratapkumar

In [118]:
# getting team names

team1 = ipl['Team1']
team2 = ipl['Team2']
teams = pd.concat([team1,team2])

teams_names = teams.unique()
teams_names

array(['Rajasthan Royals', 'Royal Challengers Bangalore',
       'Sunrisers Hyderabad', 'Delhi Capitals', 'Chennai Super Kings',
       'Gujarat Titans', 'Lucknow Super Giants', 'Kolkata Knight Riders',
       'Punjab Kings', 'Mumbai Indians', 'Rising Pune Supergiant',
       'Gujarat Lions', 'Pune Warriors', 'Deccan Chargers',
       'Kochi Tuskers Kerala'], dtype=object)

In [119]:
# number of matches played by teams
teams[teams == 'Mumbai Indians'].value_counts()

Mumbai Indians    231
dtype: int64

In [120]:
# Win % of MI
# Only MI matches
mi_matches = ipl[(ipl['Team1'] == 'Mumbai Indians') | (ipl['Team2'] == 'Mumbai Indians')]

# Matches won by MI
mi_win_matches = mi_matches[mi_matches['WinningTeam'] == 'Mumbai Indians']

# win % of MI
win_percentage = (len(mi_win_matches) / len(mi_matches)) * 100
win_percentage

56.709956709956714

In [121]:
# Home win % means Team1 Win%

mi_home_matches = ipl[(ipl['Team1'] == 'Mumbai Indians') ]

# Matches won by MI
mi_win_matches = mi_home_matches[mi_home_matches['WinningTeam'] == 'Mumbai Indians']

# win % of MI
win_percentage = (len(mi_win_matches) / len(mi_home_matches)) * 100
win_percentage

58.03571428571429

In [122]:
# Away win % means Team2 Win%

mi_away_matches = ipl[(ipl['Team2'] == 'Mumbai Indians') ]

# Matches won by MI
mi_win_matches = mi_away_matches[mi_away_matches['WinningTeam'] == 'Mumbai Indians']

# win % of MI
win_percentage = (len(mi_win_matches) / len(mi_away_matches)) * 100
win_percentage

55.46218487394958

In [123]:
# Generalised solution for all teams.
dataframes_array=[]
for i in teams_names:
  
  team_name = i
  matches_played = teams[teams == i].value_counts()
  # win percentage
  matches = ipl[(ipl['Team1'] == i) | (ipl['Team2'] == i)]
  win_matches = matches[matches['WinningTeam'] == i]

  win_percentage = (len(win_matches) / len(matches)) * 100
  
  # Home win percentage
  home_matches = ipl[(ipl['Team1'] == i) ]
  home_win_matches = home_matches[home_matches['WinningTeam'] == i]
  home_win_percentage = (len(home_win_matches) / len(home_matches)) * 100


  # Aways win percentage
  away_matches = ipl[(ipl['Team2'] == i) ]
  away_win_matches = away_matches[away_matches['WinningTeam'] == i]
  away_win_percentage = (len(away_win_matches) / len(away_matches)) * 100

  team_summary = {
      'team': team_name,
      'Match_played': matches_played,
      'Win_percentage': win_percentage,
      'Home_win_percentage': home_win_percentage,
      'Away_win_percentage': away_win_percentage

  }


  df = pd.DataFrame(team_summary)
  dataframes_array.append(df)

In [124]:
for i in dataframes_array:
  print(i.info())

<class 'pandas.core.frame.DataFrame'>
Index: 1 entries, Rajasthan Royals to Rajasthan Royals
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   team                 1 non-null      object
 1   Match_played         1 non-null      int64
 2   Win_percentage       1 non-null      float64
 3   Home_win_percentage  1 non-null      float64
 4   Away_win_percentage  1 non-null      float64
dtypes: float64(3), int64(1), object(1)
memory usage: 48.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
Index: 1 entries, Royal Challengers Bangalore to Royal Challengers Bangalore
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   team                 1 non-null      object
 1   Match_played         1 non-null      int64
 2   Win_percentage       1 non-null      float64
 3   Home_win_percentage  1 non-null      float64
 4   Away_win_percentage  1 non-null      float64
dtypes: float64(3), int64(1), object(1)
memory usage: 48.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
Index: 1 entries, Sunrisers Hyderabad to Sunrisers Hyderabad
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   team                 1 non-null      object
 1   Match_played         1 non-null      int64
 2   Win_percentage       1 non-null      float64
 3   Home_win_percentage  1 non-null      float64
 4   Away_win_percentage  1 non-null      float64
dtypes: float64(3), int64(1), object(1)
memory usage: 48.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
Index: 1 entries, Delhi Capitals to Delhi Capitals
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   team                 1 non-null      object
 1   Match_played         1 non-null      int64
 2   Win_percentage       1 non-null      float64
 3   Home_win_percentage  1 non-null      float64
 4   Away_win_percentage  1 non-null      float64
dtypes: float64(3), int64(1), object(1)
memory usage: 48.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
Index: 1 entries, Chennai Super Kings to Chennai Super Kings
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   team                 1 non-null      object
 1   Match_played         1 non-null      int64
 2   Win_percentage       1 non-null      float64
 3   Home_win_percentage  1 non-null      float64
 4   Away_win_percentage  1 non-null      float64
dtypes: float64(3), int64(1), object(1)
memory usage: 48.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
Index: 1 entries, Gujarat Titans to Gujarat Titans
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   team                 1 non-null      object
 1   Match_played         1 non-null      int64
 2   Win_percentage       1 non-null      float64
 3   Home_win_percentage  1 non-null      float64
 4   Away_win_percentage  1 non-null      float64
dtypes: float64(3), int64(1), object(1)
memory usage: 48.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
Index: 1 entries, Lucknow Super Giants to Lucknow Super Giants
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   team                 1 non-null      object
 1   Match_played         1 non-null      int64
 2   Win_percentage       1 non-null      float64
 3   Home_win_percentage  1 non-null      float64
 4   Away_win_percentage  1 non-null      float64
dtypes: float64(3), int64(1), object(1)
memory usage: 48.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
Index: 1 entries, Kolkata Knight Riders to Kolkata Knight Riders
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   team                 1 non-null      object
 1   Match_played         1 non-null      int64
 2   Win_percentage       1 non-null      float64
 3   Home_win_percentage  1 non-null      float64
 4   Away_win_percentage  1 non-null      float64
dtypes: float64(3), int64(1), object(1)
memory usage: 48.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
Index: 1 entries, Punjab Kings to Punjab Kings
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   team                 1 non-null      object
 1   Match_played         1 non-null      int64
 2   Win_percentage       1 non-null      float64
 3   Home_win_percentage  1 non-null      float64
 4   Away_win_percentage  1 non-null      float64
dtypes: float64(3), int64(1), object(1)
memory usage: 48.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
Index: 1 entries, Mumbai Indians to Mumbai Indians
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   team                 1 non-null      object
 1   Match_played         1 non-null      int64
 2   Win_percentage       1 non-null      float64
 3   Home_win_percentage  1 non-null      float64
 4   Away_win_percentage  1 non-null      float64
dtypes: float64(3), int64(1), object(1)
memory usage: 48.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
Index: 1 entries, Rising Pune Supergiant to Rising Pune Supergiant
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   team                 1 non-null      object
 1   Match_played         1 non-null      int64
 2   Win_percentage       1 non-null      float64
 3   Home_win_percentage  1 non-null      float64
 4   Away_win_percentage  1 non-null      float64
dtypes: float64(3), int64(1), object(1)
memory usage: 48.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
Index: 1 entries, Gujarat Lions to Gujarat Lions
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   team                 1 non-null      object
 1   Match_played         1 non-null      int64
 2   Win_percentage       1 non-null      float64
 3   Home_win_percentage  1 non-null      float64
 4   Away_win_percentage  1 non-null      float64
dtypes: float64(3), int64(1), object(1)
memory usage: 48.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
Index: 1 entries, Pune Warriors to Pune Warriors
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   team                 1 non-null      object
 1   Match_played         1 non-null      int64
 2   Win_percentage       1 non-null      float64
 3   Home_win_percentage  1 non-null      float64
 4   Away_win_percentage  1 non-null      float64
dtypes: float64(3), int64(1), object(1)
memory usage: 48.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
Index: 1 entries, Deccan Chargers to Deccan Chargers
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   team                 1 non-null      object
 1   Match_played         1 non-null      int64
 2   Win_percentage       1 non-null      float64
 3   Home_win_percentage  1 non-null      float64
 4   Away_win_percentage  1 non-null      float64
dtypes: float64(3), int64(1), object(1)
memory usage: 48.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
Index: 1 entries, Kochi Tuskers Kerala to Kochi Tuskers Kerala
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   team                 1 non-null      object
 1   Match_played         1 non-null      int64
 2   Win_percentage       1 non-null      float64
 3   Home_win_percentage  1 non-null      float64
 4   Away_win_percentage  1 non-null      float64
dtypes: float64(3), int64(1), object(1)
memory usage: 48.0+ bytes
None

###`Q-7:` Venues with most "no result" matches.

In [125]:
# code here
super_over_matches = ipl[ipl['SuperOver'] == 'Y']
super_over_matches

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
114,1254077,Chennai,2021-04-25,2021,20,Delhi Capitals,Sunrisers Hyderabad,"MA Chidambaram Stadium, Chepauk, Chennai",Delhi Capitals,bat,Y,Delhi Capitals,SuperOver,NaN,NaN,PP Shaw,"['PP Shaw', 'S Dhawan', 'RR Pant', 'SPD Smith'...","['DA Warner', 'JM Bairstow', 'KS Williamson', ...",CB Gaffaney,KN Ananthapadmanabhan
158,1216512,Abu Dhabi,2020-10-18,2020/21,35,Kolkata Knight Riders,Sunrisers Hyderabad,Sheikh Zayed Stadium,Sunrisers Hyderabad,field,Y,Kolkata Knight Riders,SuperOver,NaN,NaN,LH Ferguson,"['Shubman Gill', 'RA Tripathi', 'N Rana', 'AD ...","['JM Bairstow', 'KS Williamson', 'PK Garg', 'D...",PG Pathak,S Ravi
159,1216517,NaN,2020-10-18,2020/21,36,Mumbai Indians,Punjab Kings,Dubai International Cricket Stadium,Mumbai Indians,bat,Y,Punjab Kings,SuperOver,NaN,NaN,KL Rahul,"['RG Sharma', 'Q de Kock', 'SA Yadav', 'Ishan ...","['KL Rahul', 'MA Agarwal', 'CH Gayle', 'N Poor...",Nitin Menon,PR Reiffel
184,1216547,NaN,2020-09-28,2020/21,10,Royal Challengers Bangalore,Mumbai Indians,Dubai International Cricket Stadium,Mumbai Indians,field,Y,Royal Challengers Bangalore,SuperOver,NaN,NaN,AB de Villiers,"['D Padikkal', 'AJ Finch', 'V Kohli', 'AB de V...","['RG Sharma', 'Q de Kock', 'SA Yadav', 'Ishan ...",Nitin Menon,PR Reiffel
192,1216493,NaN,2020-09-20,2020/21,2,Delhi Capitals,Punjab Kings,Dubai International Cricket Stadium,Kings XI Punjab,field,Y,Delhi Capitals,SuperOver,NaN,NaN,MP Stoinis,"['PP Shaw', 'S Dhawan', 'SO Hetmyer', 'SS Iyer...","['KL Rahul', 'MA Agarwal', 'KK Nair', 'N Poora...",AK Chaudhary,Nitin Menon
203,1178426,Mumbai,2019-05-02,2019,51,Mumbai Indians,Sunrisers Hyderabad,Wankhede Stadium,Mumbai Indians,bat,Y,Mumbai Indians,SuperOver,NaN,NaN,JJ Bumrah,"['RG Sharma', 'Q de Kock', 'SA Yadav', 'E Lewi...","['WP Saha', 'MJ Guptill', 'MK Pandey', 'KS Wil...",CK Nandan,S Ravi
244,1175365,Delhi,2019-03-30,2019,10,Kolkata Knight Riders,Delhi Capitals,Arun Jaitley Stadium,Delhi Capitals,field,Y,Delhi Capitals,SuperOver,NaN,NaN,PP Shaw,"['NS Naik', 'CA Lynn', 'RV Uthappa', 'N Rana',...","['PP Shaw', 'S Dhawan', 'SS Iyer', 'RR Pant', ...",AY Dandekar,Nitin Menon
339,1082625,Rajkot,2017-04-29,2017,35,Gujarat Lions,Mumbai Indians,Saurashtra Cricket Association Stadium,Gujarat Lions,bat,Y,Mumbai Indians,SuperOver,NaN,NaN,KH Pandya,"['Ishan Kishan', 'BB McCullum', 'SK Raina', 'A...","['PA Patel', 'JC Buttler', 'N Rana', 'RG Sharm...",AK Chaudhary,CB Gaffaney
474,829741,Ahmedabad,2015-04-21,2015,18,Rajasthan Royals,Punjab Kings,"Sardar Patel Stadium, Motera",Kings XI Punjab,field,Y,Punjab Kings,SuperOver,NaN,NaN,SE Marsh,"['AM Rahane', 'SR Watson', 'DJ Hooda', 'SPD Sm...","['M Vijay', 'V Sehwag', 'SE Marsh', 'GJ Maxwel...",M Erasmus,S Ravi
533,729315,Abu Dhabi,2014-04-29,2014,19,Kolkata Knight Riders,Rajasthan Royals,Sheikh Zayed Stadium,Rajasthan Royals,bat,Y,Rajasthan Royals,SuperOver,NaN,NaN,JP Faulkner,"['G Gambhir', 'MS Bisla', 'JH Kallis', 'MK Pan...","['AM Rahane', 'KK Nair', 'SV Samson', 'SR Wats...",Aleem Dar,AK Chaudhary
608,598017,Bangalore,2013-04-16,2013,21,Royal Challengers Bangalore,Delhi Capitals,M Chinnaswamy Stadium,Royal Challengers Bangalore,field,Y,Royal Challengers Bangalore,SuperOver,NaN,NaN,V Kohli,"['CH Gayle', 'KL Rahul', 'V Kohli', 'AB de Vil...","['DA Warner', 'V Sehwag', 'MC Juneja', 'DPMD J...",M Erasmus,VA Kulkarni
621,598004,Hyderabad,2013-04-07,2013,7,Sunrisers Hyderabad,Royal Challengers Bangalore,"Rajiv Gandhi International Stadium, Uppal",Royal Challengers Bangalore,bat,Y,Sunrisers Hyderabad,SuperOver,NaN,NaN,GH Vihari,"['PA Reddy', 'PA Patel', 'CL White', 'GH Vihar...","['CH Gayle', 'TM Dilshan', 'V Kohli', 'KK Nair...",AK Chaudhary,S Ravi
819,419121,Chennai,2010-03-21,2009/10,16,Chennai Super Kings,Punjab Kings,"MA Chidambaram Stadium, Chepauk",Chennai Super Kings,field,Y,Punjab Kings,SuperOver,NaN,NaN,J Theron,"['PA Patel', 'ML Hayden', 'SK Raina', 'M Vijay...","['RS Bopara', 'IK Pathan', 'KC Sangakkara', 'D...",K Hariharan,DJ Harper
883,392190,Cape Town,2009-04-23,2009,10,Kolkata Knight Riders,Rajasthan Royals,Newlands,Kolkata Knight Riders,field,Y,Rajasthan Royals,SuperOver,NaN,NaN,YK Pathan,"['CH Gayle', 'BB McCullum', 'LR Shukla', 'BJ H...","['GC Smith', 'PC Valthaty', 'RJ Quiney', 'YK P...",MR Benson,M Erasmus

In [126]:
Venue_name = super_over_matches['Venue'].value_counts().index[0]
Venue_name

'Dubai International Cricket Stadium'

###`Q-8:` Player with most appearance in final match.

`Team1Players` and `Team2Players` have all players name. It is not a list of players name instead it is str. So handle it as string.

Hint: split and strip will help; Make a series of all players in final and do value counts

In [127]:
# code here
Final_matches = ipl[ipl['MatchNumber']=='Final']

In [128]:
players1 = Final_matches['Team1Players']
player_names1 = players1.str.replace('[', '').str.replace(']', '').str.replace("'", "")

# Split each string by comma to get individual player names
player_names1 = player_names1.str.split(", ")

# Flatten the list of player names using list comprehension
all_players1 = [player for sublist in player_names1 for player in sublist]
len(all_players1)

<ipython-input-128-5ffc31f8ecfc>:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  player_names1 = players1.str.replace('[', '').str.replace(']', '').str.replace("'", "")

165

In [129]:
players2 = Final_matches['Team2Players']

player_names2 = players2.str.replace('[', '').str.replace(']', '').str.replace("'", "")

# Split each string by comma to get individual player names
player_names2 = player_names2.str.split(", ")

# Flatten the list of player names using list comprehension
all_players2 = [player for sublist in player_names2 for player in sublist]
len(all_players2)

<ipython-input-129-9497e04a7938>:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  player_names2 = players2.str.replace('[', '').str.replace(']', '').str.replace("'", "")

165

In [130]:
total_players_in_final_matches = all_players1 + all_players2
len(total_players_in_final_matches)

330

In [131]:
# creating series from the list

all_players_final_series = pd.Series(total_players_in_final_matches)
all_players_final_series

0        YBK Jaiswal
1         JC Buttler
2          SV Samson
3         D Padikkal
4         SO Hetmyer
           ...
325        RA Jadeja
326         SK Warne
327    Sohail Tanvir
328       SK Trivedi
329         MM Patel
Length: 330, dtype: object

In [132]:
players_appeared_in_final_matches = all_players_final_series.value_counts()
players_appeared_in_final_matches

MS Dhoni     10
SK Raina      8
AT Rayudu     7
R Ashwin      7
DJ Bravo      7
             ..
B Lee         1
R Bhatia      1
LR Shukla     1
MS Bisla      1
MM Patel      1
Length: 179, dtype: int64

In [133]:
# Player who has appeared in most final matches
print(players_appeared_in_final_matches.index[0])
print(f'Appered {players_appeared_in_final_matches[players_appeared_in_final_matches.index[0]]} times')

MS Dhoni
Appered 10 times

###`Q-9:` IPL Point Table

Make a function `point_table` which take `season` as parameter and show points table in non-ascendng order of points and in ascending order of team name.

For winning - 2 Ponits; 
For loosing - 0 Point
For not result both team gets 1 points.

Make dataframe which will have
`TeamName` `MatchesPlayed` `MatchesWon` `NoResult` `Points`
make `TeamName` as index.

```
season parametr should be one of these->
['2022', '2021', '2020/21', '2019', '2018', '2017', '2016', '2015', '2014', '2013', '2012', '2011', '2009/10', '2009', '2007/08']
```

Output of two Top 2 in season 2022
```
TeamName    MatchesPlayed	MatchesWon	NoResult	Points
				
Gujarat Titans	    16	   12	       0	     24
Rajasthan Royals	  17	   10	       0	     20

```

In [134]:
# code here
season_2008 = ipl[ipl['Season'] == '2018']

team1 = season_2008['Team1']
team2 = season_2008['Team2']

all_teams = pd.concat([team1,team2])
actual_teams = all_teams.unique()
actual_teams

season_2008['WinningTeam'].value_counts()

Chennai Super Kings            11
Sunrisers Hyderabad            10
Kolkata Knight Riders           9
Rajasthan Royals                7
Royal Challengers Bangalore     6
Mumbai Indians                  6
Punjab Kings                    6
Delhi Capitals                  5
Name: WinningTeam, dtype: int64

In [135]:

dashboard = []
for i in actual_teams:
  teamName = i
  matchesPlayed = all_teams[all_teams==i].value_counts().values[0]
  matchesWon = season_2008['WinningTeam'].value_counts()[i] if i in season_2008['WinningTeam'].value_counts() else 0
  matchesLost = matchesPlayed - matchesWon
  points = matchesWon*2

  dic = {
      'team': teamName,
      'MatchesPlayed': matchesPlayed,
      'MatchesWon': matchesWon,
      'MatchesLost': matchesLost,
      'Points': points
  }

  dashboard.append(dic)




df = pd.DataFrame(dashboard)

df

                          team  MatchesPlayed  MatchesWon  MatchesLost  Points
0          Sunrisers Hyderabad             17          10            7      20
1        Kolkata Knight Riders             16           9            7      18
2                 Punjab Kings             14           6            8      12
3               Delhi Capitals             14           5            9      10
4             Rajasthan Royals             15           7            8      14
5  Royal Challengers Bangalore             14           6            8      12
6               Mumbai Indians             14           6            8      12
7          Chennai Super Kings             16          11            5      22

###`Q-10:` IPL Point Table cont.
Extend the above IPL Point Table with an extra column as `SeasonPosition`

Team below top 4 after sorting on `Points` and then on `TeamName` Will have same `SeasonPosition` as there rank. use rank function.

Teams in Top four will have `SeasonPosition` as:
```
    'Winner' - Team won final
    'Runner' - Team lost Final
    3 - Losing Team in Qualifier2
    4 - Losing Team in Eliminator
```

For changing value of pariticular cell use `df.at[row_index, col_label] = value`

Output of two Top 2 in season 2022. Your result should have all teams.
```
TeamName    MatchesPlayed	MatchesWon	NoResult	Points   SeasonPosition
				
Gujarat Titans	    16	   12	       0	     24         Winner
Rajasthan Royals	  17	   10	       0	     20         Runner

```

Note: If you try to chnage value of view of any dataframe a warnig will be shown. To avoid it, make a copy of the dataframe you want to change in by `df.copy()`

In [136]:
# code here
dashboardDataframe = df.copy()

In [137]:
season_2008

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
254,1136620,Mumbai,2018-05-27,2018,Final,Sunrisers Hyderabad,Chennai Super Kings,Wankhede Stadium,Chennai Super Kings,field,N,Chennai Super Kings,Wickets,8.0,NaN,SR Watson,"['SP Goswami', 'S Dhawan', 'KS Williamson', 'S...","['SR Watson', 'F du Plessis', 'SK Raina', 'AT ...",M Erasmus,S Ravi
255,1136619,Kolkata,2018-05-25,2018,Qualifier,Sunrisers Hyderabad,Kolkata Knight Riders,Eden Gardens,Kolkata Knight Riders,field,N,Sunrisers Hyderabad,Runs,14.0,NaN,Rashid Khan,"['WP Saha', 'S Dhawan', 'KS Williamson', 'Shak...","['CA Lynn', 'SP Narine', 'N Rana', 'RV Uthappa...",HDPK Dharmasena,Nitin Menon
256,1136618,Kolkata,2018-05-23,2018,Eliminator,Kolkata Knight Riders,Rajasthan Royals,Eden Gardens,Rajasthan Royals,field,N,Kolkata Knight Riders,Runs,25.0,NaN,AD Russell,"['SP Narine', 'CA Lynn', 'RV Uthappa', 'N Rana...","['AM Rahane', 'RA Tripathi', 'SV Samson', 'H K...",AK Chaudhary,Nitin Menon
257,1136617,Mumbai,2018-05-22,2018,Qualifier,Sunrisers Hyderabad,Chennai Super Kings,Wankhede Stadium,Chennai Super Kings,field,N,Chennai Super Kings,Wickets,2.0,NaN,F du Plessis,"['S Dhawan', 'SP Goswami', 'KS Williamson', 'M...","['SR Watson', 'F du Plessis', 'SK Raina', 'AT ...",C Shamshuddin,M Erasmus
258,1136616,Pune,2018-05-20,2018,56,Punjab Kings,Chennai Super Kings,Maharashtra Cricket Association Stadium,Chennai Super Kings,field,N,Chennai Super Kings,Wickets,5.0,NaN,L Ngidi,"['KL Rahul', 'CH Gayle', 'AJ Finch', 'MK Tiwar...","['AT Rayudu', 'F du Plessis', 'SK Raina', 'SW ...",Nitin Menon,YC Barde
259,1136615,Delhi,2018-05-20,2018,55,Delhi Capitals,Mumbai Indians,Arun Jaitley Stadium,Delhi Daredevils,bat,N,Delhi Capitals,Runs,11.0,NaN,A Mishra,"['PP Shaw', 'GJ Maxwell', 'SS Iyer', 'RR Pant'...","['SA Yadav', 'E Lewis', 'Ishan Kishan', 'KA Po...",HDPK Dharmasena,CK Nandan
260,1136614,Hyderabad,2018-05-19,2018,54,Sunrisers Hyderabad,Kolkata Knight Riders,Rajiv Gandhi International Stadium,Sunrisers Hyderabad,bat,N,Kolkata Knight Riders,Wickets,5.0,NaN,CA Lynn,"['S Dhawan', 'SP Goswami', 'KS Williamson', 'M...","['CA Lynn', 'SP Narine', 'RV Uthappa', 'KD Kar...",AK Chaudhary,S Ravi
261,1136613,Jaipur,2018-05-19,2018,53,Rajasthan Royals,Royal Challengers Bangalore,Sawai Mansingh Stadium,Rajasthan Royals,bat,N,Rajasthan Royals,Runs,30.0,NaN,S Gopal,"['RA Tripathi', 'JC Archer', 'AM Rahane', 'SV ...","['V Kohli', 'PA Patel', 'AB de Villiers', 'MM ...",BNJ Oxenford,VK Sharma
262,1136612,Delhi,2018-05-18,2018,52,Delhi Capitals,Chennai Super Kings,Arun Jaitley Stadium,Chennai Super Kings,field,N,Delhi Capitals,Runs,34.0,NaN,HV Patel,"['PP Shaw', 'SS Iyer', 'RR Pant', 'GJ Maxwell'...","['SR Watson', 'AT Rayudu', 'SK Raina', 'MS Dho...",HDPK Dharmasena,VA Kulkarni
263,1136611,Bengaluru,2018-05-17,2018,51,Royal Challengers Bangalore,Sunrisers Hyderabad,M.Chinnaswamy Stadium,Sunrisers Hyderabad,field,N,Royal Challengers Bangalore,Runs,14.0,NaN,AB de Villiers,"['PA Patel', 'V Kohli', 'AB de Villiers', 'MM ...","['S Dhawan', 'AD Hales', 'KS Williamson', 'MK ...",AY Dandekar,S Ravi
264,1136610,Mumbai,2018-05-16,2018,50,Mumbai Indians,Punjab Kings,Wankhede Stadium,Kings XI Punjab,field,N,Mumbai Indians,Runs,3.0,NaN,JJ Bumrah,"['SA Yadav', 'E Lewis', 'Ishan Kishan', 'RG Sh...","['KL Rahul', 'CH Gayle', 'AJ Finch', 'MP Stoin...",M Erasmus,Nitin Menon
265,1136609,Kolkata,2018-05-15,2018,49,Rajasthan Royals,Kolkata Knight Riders,Eden Gardens,Kolkata Knight Riders,field,N,Kolkata Knight Riders,Wickets,6.0,NaN,Kuldeep Yadav,"['RA Tripathi', 'JC Buttler', 'AM Rahane', 'SV...","['SP Narine', 'CA Lynn', 'RV Uthappa', 'N Rana...",AK Chaudhary,HDPK Dharmasena
266,1136608,Indore,2018-05-14,2018,48,Punjab Kings,Royal Challengers Bangalore,Holkar Cricket Stadium,Royal Challengers Bangalore,field,N,Royal Challengers Bangalore,Wickets,10.0,NaN,UT Yadav,"['KL Rahul', 'CH Gayle', 'KK Nair', 'AJ Finch'...","['V Kohli', 'PA Patel', 'MM Ali', 'AB de Villi...",BNJ Oxenford,VK Sharma
267,1136607,Mumbai,2018-05-13,2018,47,Mumbai Indians,Rajasthan Royals,Wankhede Stadium,Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['SA Yadav', 'E Lewis', 'RG Sharma', 'Ishan Ki...","['DJM Short', 'JC Buttler', 'AM Rahane', 'SV S...",Nitin Menon,S Ravi
268,1136606,Pune,2018-05-13,2018,46,Sunrisers Hyderabad,Chennai Super Kings,Maharashtra Cricket Association Stadium,Chennai Super Kings,field,N,Chennai Super Kings,Wickets,8.0,NaN,AT Rayudu,"['S Dhawan', 'AD Hales', 'KS Williamson', 'MK ...","['SR Watson', 'AT Rayudu', 'SK Raina', 'MS Dho...",M Erasmus,YC Barde
269,1136605,Delhi,2018-05-12,2018,45,Delhi Capitals,Royal Challengers Bangalore,Arun Jaitley Stadium,Royal Challengers Bangalore,field,N,Royal Challengers Bangalore,Wickets,5.0,NaN,AB de Villiers,"['PP Shaw', 'JJ Roy', 'SS Iyer', 'RR Pant', 'V...","['PA Patel', 'MM Ali', 'V Kohli', 'AB de Villi...",KN Ananthapadmanabhan,HDPK Dharmasena
270,1136604,Indore,2018-05-12,2018,44,Kolkata Knight Riders,Punjab Kings,Holkar Cricket Stadium,Kings XI Punjab,field,N,Kolkata Knight Riders,Runs,31.0,NaN,SP Narine,"['CA Lynn', 'SP Narine', 'RV Uthappa', 'AD Rus...","['KL Rahul', 'CH Gayle', 'MA Agarwal', 'KK Nai...",CK Nandan,VK Sharma
271,1136603,Jaipur,2018-05-11,2018,43,Chennai Super Kings,Rajasthan Royals,Sawai Mansingh Stadium,Chennai Super Kings,bat,N,Rajasthan Royals,Wickets,4.0,NaN,JC Buttler,"['SR Watson', 'AT Rayudu', 'SK Raina', 'MS Dho...","['JC Buttler', 'BA Stokes', 'AM Rahane', 'SV S...",M Erasmus,YC Barde
272,1136602,Delhi,2018-05-10,2018,42,Delhi Capitals,Sunrisers Hyderabad,Arun Jaitley Stadium,Delhi Daredevils,bat,N,Sunrisers Hyderabad,Wickets,9.0,NaN,S Dhawan,"['PP Shaw', 'JJ Roy', 'SS Iyer', 'RR Pant', 'H...","['AD Hales', 'S Dhawan', 'KS Williamson', 'MK ...",AY Dandekar,C Shamshuddin
273,1136601,Kolkata,2018-05-09,2018,41,Mumbai Indians,Kolkata Knight Riders,Eden Gardens,Kolkata Knight Riders,field,N,Mumbai Indians,Runs,102.0,NaN,Ishan Kishan,"['SA Yadav', 'E Lewis', 'RG Sharma', 'Ishan Ki...","['SP Narine', 'CA Lynn', 'RV Uthappa', 'N Rana...",KN Ananthapadmanabhan,AK Chaudhary
274,1136600,Jaipur,2018-05-08,2018,40,Rajasthan Royals,Punjab Kings,Sawai Mansingh Stadium,Rajasthan Royals,bat,N,Rajasthan Royals,Runs,15.0,NaN,JC Buttler,"['AM Rahane', 'JC Buttler', 'K Gowtham', 'SV S...","['KL Rahul', 'CH Gayle', 'R Ashwin', 'KK Nair'...",M Erasmus,Nitin Menon
275,1136599,Hyderabad,2018-05-07,2018,39,Sunrisers Hyderabad,Royal Challengers Bangalore,Rajiv Gandhi International Stadium,Royal Challengers Bangalore,field,N,Sunrisers Hyderabad,Runs,5.0,NaN,KS Williamson,"['AD Hales', 'S Dhawan', 'KS Williamson', 'MK ...","['M Vohra', 'PA Patel', 'V Kohli', 'AB de Vill...",BNJ Oxenford,VK Sharma
276,1136598,Indore,2018-05-06,2018,38,Rajasthan Royals,Punjab Kings,Holkar Cricket Stadium,Kings XI Punjab,field,N,Punjab Kings,Wickets,6.0,NaN,Mujeeb Ur Rahman,"['JC Buttler', 'DJM Short', 'AM Rahane', 'SV S...","['KL Rahul', 'CH Gayle', 'MA Agarwal', 'KK Nai...",C Shamshuddin,S Ravi
277,1136597,Mumbai,2018-05-06,2018,37,Mumbai Indians,Kolkata Knight Riders,Wankhede Stadium,Kolkata Knight Riders,field,N,Mumbai Indians,Runs,13.0,NaN,HH Pandya,"['SA Yadav', 'E Lewis', 'RG Sharma', 'HH Pandy...","['CA Lynn', 'Shubman Gill', 'RV Uthappa', 'N R...",A Deshmukh,HDPK Dharmasena
278,1136596,Hyderabad,2018-05-05,2018,36,Delhi Capitals,Sunrisers Hyderabad,Rajiv Gandhi International Stadium,Delhi Daredevils,bat,N,Sunrisers Hyderabad,Wickets,7.0,NaN,Rashid Khan,"['PP Shaw', 'GJ Maxwell', 'SS Iyer', 'RR Pant'...","['AD Hales', 'S Dhawan', 'KS Williamson', 'MK ...",BNJ Oxenford,CK Nandan
279,1136595,Pune,2018-05-05,2018,35,Royal Challengers Bangalore,Chennai Super Kings,Maharashtra Cricket Association Stadium,Chennai Super Kings,field,N,Chennai Super Kings,Wickets,6.0,NaN,RA Jadeja,"['PA Patel', 'BB McCullum', 'V Kohli', 'AB de ...","['SR Watson', 'AT Rayudu', 'SK Raina', 'DR Sho...",Nitin Menon,YC Barde
280,1136594,Indore,2018-05-04,2018,34,Punjab Kings,Mumbai Indians,Holkar Cricket Stadium,Mumbai Indians,field,N,Mumbai Indians,Wickets,6.0,NaN,SA Yadav,"['KL Rahul', 'CH Gayle', 'Yuvraj Singh', 'KK N...","['SA Yadav', 'E Lewis', 'Ishan Kishan', 'HH Pa...",AY Dandekar,S Ravi
281,1136593,Kolkata,2018-05-03,2018,33,Chennai Super Kings,Kolkata Knight Riders,Eden Gardens,Kolkata Knight Riders,field,N,Kolkata Knight Riders,Wickets,6.0,NaN,SP Narine,"['SR Watson', 'F du Plessis', 'SK Raina', 'AT ...","['CA Lynn', 'SP Narine', 'RV Uthappa', 'Shubma...",A Deshmukh,HDPK Dharmasena
282,1136592,Delhi,2018-05-02,2018,32,Delhi Capitals,Rajasthan Royals,Arun Jaitley Stadium,Rajasthan Royals,field,N,Delhi Capitals,Runs,4.0,D/L,RR Pant,"['PP Shaw', 'C Munro', 'SS Iyer', 'RR Pant', '...","['DJM Short', 'JC Buttler', 'SV Samson', 'BA S...",CK Nandan,VK Sharma
283,1136591,Bengaluru,2018-05-01,2018,31,Royal Challengers Bangalore,Mumbai Indians,M.Chinnaswamy Stadium,Mumbai Indians,field,N,Royal Challengers Bangalore,Runs,14.0,NaN,TG Southee,"['M Vohra', 'Q de Kock', 'BB McCullum', 'V Koh...","['SA Yadav', 'Ishan Kishan', 'JP Duminy', 'RG ...",M Erasmus,Nitin Menon
284,1136590,Pune,2018-04-30,2018,30,Chennai Super Kings,Delhi Capitals,Maharashtra Cricket Association Stadium,Delhi Daredevils,field,N,Chennai Super Kings,Runs,13.0,NaN,SR Watson,"['SR Watson', 'F du Plessis', 'SK Raina', 'AT ...","['PP Shaw', 'C Munro', 'SS Iyer', 'RR Pant', '...",AY Dandekar,C Shamshuddin
285,1136588,Jaipur,2018-04-29,2018,28,Sunrisers Hyderabad,Rajasthan Royals,Sawai Mansingh Stadium,Sunrisers Hyderabad,bat,N,Sunrisers Hyderabad,Runs,11.0,NaN,KS Williamson,"['AD Hales', 'S Dhawan', 'KS Williamson', 'MK ...","['AM Rahane', 'RA Tripathi', 'SV Samson', 'BA ...",BNJ Oxenford,A Nand Kishore
286,1136589,Bengaluru,2018-04-29,2018,29,Royal Challengers Bangalore,Kolkata Knight Riders,M.Chinnaswamy Stadium,Kolkata Knight Riders,field,N,Kolkata Knight Riders,Wickets,6.0,NaN,CA Lynn,"['Q de Kock', 'BB McCullum', 'V Kohli', 'M Voh...","['CA Lynn', 'SP Narine', 'RV Uthappa', 'N Rana...",AK Chaudhary,NJ Llong
287,1136587,Pune,2018-04-28,2018,27,Chennai Super Kings,Mumbai Indians,Maharashtra Cricket Association Stadium,Mumbai Indians,field,N,Mumbai Indians,Wickets,8.0,NaN,RG Sharma,"['SR Watson', 'AT Rayudu', 'SK Raina', 'MS Dho...","['SA Yadav', 'E Lewis', 'RG Sharma', 'HH Pandy...",CB Gaffaney,Nitin Menon
288,1136586,Delhi,2018-04-27,2018,26,Delhi Capitals,Kolkata Knight Riders,Arun Jaitley Stadium,Kolkata Knight Riders,field,N,Delhi Capitals,Runs,55.0,NaN,SS Iyer,"['PP Shaw', 'C Munro', 'SS Iyer', 'RR Pant', '...","['CA Lynn', 'SP Narine', 'RV Uthappa', 'N Rana...",C Shamshuddin,S Ravi
289,1136585,Hyderabad,2018-04-26,2018,25,Sunrisers Hyderabad,Punjab Kings,Rajiv Gandhi International Stadium,Kings XI Punjab,field,N,Sunrisers Hyderabad,Runs,13.0,NaN,AS Rajpoot,"['S Dhawan', 'KS Williamson', 'WP Saha', 'MK P...","['KL Rahul', 'CH Gayle', 'MA Agarwal', 'KK Nai...",CK Nandan,YC Barde
290,1136584,Bengaluru,2018-04-25,2018,24,Royal Challengers Bangalore,Chennai Super Kings,M.Chinnaswamy Stadium,Chennai Super Kings,field,N,Chennai Super Kings,Wickets,5.0,NaN,MS Dhoni,"['Q de Kock', 'V Kohli', 'AB de Villiers', 'CJ...","['SR Watson', 'AT Rayudu', 'SK Raina', 'SW Bil...",NJ Llong,VK Sharma
291,1136583,Mumbai,2018-04-24,2018,23,Sunrisers Hyderabad,Mumbai Indians,Wankhede Stadium,Mumbai Indians,field,N,Sunrisers Hyderabad,Runs,31.0,NaN,Rashid Khan,"['S Dhawan', 'KS Williamson', 'WP Saha', 'MK P...","['SA Yadav', 'E Lewis', 'Ishan Kishan', 'RG Sh...",C Shamshuddin,S Ravi
292,1136582,Delhi,2018-04-23,2018,22,Punjab Kings,Delhi Capitals,Arun Jaitley Stadium,Delhi Daredevils,field,N,Punjab Kings,Runs,4.0,NaN,AS Rajpoot,"['KL Rahul', 'AJ Finch', 'MA Agarwal', 'KK Nai...","['PP Shaw', 'G Gambhir', 'GJ Maxwell', 'SS Iye...",A Nand Kishore,CK Nandan
293,1136581,Jaipur,2018-04-22,2018,21,Mumbai Indians,Rajasthan Royals,Sawai Mansingh Stadium,Mumbai Indians,bat,N,Rajasthan Royals,Wickets,3.0,NaN,JC Archer,"['SA Yadav', 'E Lewis', 'Ishan Kishan', 'KA Po...","['AM Rahane', 'RA Tripathi', 'SV Samson', 'BA ...",KN Ananthapadmanabhan,RJ Tucker
294,1136580,Hyderabad,2018-04-22,2018,20,Chennai Super Kings,Sunrisers Hyderabad,Rajiv Gandhi International Stadium,Sunrisers Hyderabad,field,N,Chennai Super Kings,Runs,4.0,NaN,AT Rayudu,"['SR Watson', 'F du Plessis', 'SK Raina', 'AT ...","['RK Bhui', 'KS Williamson', 'MK Pandey', 'DJ ...",AK Chaudhary,VA Kulkarni
295,1136579,Bengaluru,2018-04-21,2018,19,Delhi Capitals,Royal Challengers Bangalore,M.Chinnaswamy Stadium,Royal Challengers Bangalore,field,N,Royal Challengers Bangalore,Wickets,6.0,NaN,AB de Villiers,"['JJ Roy', 'G Gambhir', 'SS Iyer', 'RR Pant', ...","['Q de Kock', 'M Vohra', 'V Kohli', 'AB de Vil...",CB Gaffaney,CK Nandan
296,1136578,Kolkata,2018-04-21,2018,18,Kolkata Knight Riders,Punjab Kings,Eden Gardens,Kings XI Punjab,field,N,Punjab Kings,Wickets,9.0,D/L,KL Rahul,"['CA Lynn', 'SP Narine', 'RV Uthappa', 'N Rana...","['KL Rahul', 'CH Gayle', 'MA Agarwal', 'KK Nai...",A Deshmukh,C Shamshuddin
297,1136577,Pune,2018-04-20,2018,17,Chennai Super Kings,Rajasthan Royals,Maharashtra Cricket Association Stadium,Rajasthan Royals,field,N,Chennai Super Kings,Runs,64.0,NaN,SR Watson,"['SR Watson', 'AT Rayudu', 'SK Raina', 'MS Dho...","['AM Rahane', 'H Klaasen', 'SV Samson', 'BA St...",KN Ananthapadmanabhan,Nitin Menon
298,1136576,Chandigarh,2018-04-19,2018,16,Punjab Kings,Sunrisers Hyderabad,Punjab Cricket Association IS Bindra Stadium,Kings XI Punjab,bat,N,Punjab Kings,Runs,15.0,NaN,CH Gayle,"['KL Rahul', 'CH Gayle', 'MA Agarwal', 'KK Nai...","['WP Saha', 'S Dhawan', 'KS Williamson', 'YK P...",AK Chaudhary,NJ Llong
299,1136575,Jaipur,2018-04-18,2018,15,Rajasthan Royals,Kolkata Knight Riders,Sawai Mansingh Stadium,Kolkata Knight Riders,field,N,Kolkata Knight Riders,Wickets,7.0,NaN,N Rana,"['AM Rahane', 'DJM Short', 'SV Samson', 'RA Tr...","['SP Narine', 'CA Lynn', 'RV Uthappa', 'N Rana...",A Deshmukh,S Ravi
300,1136574,Mumbai,2018-04-17,2018,14,Mumbai Indians,Royal Challengers Bangalore,Wankhede Stadium,Royal Challengers Bangalore,field,N,Mumbai Indians,Runs,46.0,NaN,RG Sharma,"['SA Yadav', 'E Lewis', 'Ishan Kishan', 'RG Sh...","['V Kohli', 'Q de Kock', 'AB de Villiers', 'Ma...",Nitin Menon,RJ Tucker
301,1136573,Kolkata,2018-04-16,2018,13,Kolkata Knight Riders,Delhi Capitals,Eden Gardens,Delhi Daredevils,field,N,Kolkata Knight Riders,Runs,71.0,NaN,N Rana,"['CA Lynn', 'SP Narine', 'RV Uthappa', 'N Rana...","['G Gambhir', 'JJ Roy', 'SS Iyer', 'RR Pant', ...",AK Chaudhary,A Nand Kishore
302,1136572,Chandigarh,2018-04-15,2018,12,Punjab Kings,Chennai Super Kings,Punjab Cricket Association IS Bindra Stadium,Chennai Super Kings,field,N,Punjab Kings,Runs,4.0,NaN,CH Gayle,"['KL Rahul', 'CH Gayle', 'MA Agarwal', 'Yuvraj...","['SR Watson', 'M Vijay', 'AT Rayudu', 'SW Bill...",CK Nandan,VA Kulkarni
303,1136571,Bengaluru,2018-04-15,2018,11,Rajasthan Royals,Royal Challengers Bangalore,M.Chinnaswamy Stadium,Royal Challengers Bangalore,field,N,Rajasthan Royals,Runs,19.0,NaN,SV Samson,"['AM Rahane', 'DJM Short', 'SV Samson', 'BA St...","['BB McCullum', 'Q de Kock', 'V Kohli', 'AB de...",C Shamshuddin,S Ravi
304,1136570,Kolkata,2018-04-14,2018,10,Kolkata Knight Riders,Sunrisers Hyderabad,Eden Gardens,Sunrisers Hyderabad,field,N,Sunrisers Hyderabad,Wickets,5.0,NaN,B Stanlake,"['RV Uthappa', 'CA Lynn', 'N Rana', 'SP Narine...","['WP Saha', 'S Dhawan', 'KS Williamson', 'MK P...",AK Chaudhary,A Nand Kishore
305,1136569,Mumbai,2018-04-14,2018,9,Mumbai Indians,Delhi Capitals,Wankhede Stadium,Delhi Daredevils,field,N,Delhi Capitals,Wickets,7.0,NaN,JJ Roy,"['SA Yadav', 'E Lewis', 'Ishan Kishan', 'RG Sh...","['JJ Roy', 'G Gambhir', 'RR Pant', 'GJ Maxwell...",KN Ananthapadmanabhan,Nitin Menon
306,1136568,Bengaluru,2018-04-13,2018,8,Punjab Kings,Royal Challengers Bangalore,M.Chinnaswamy Stadium,Royal Challengers Bangalore,field,N,Royal Challengers Bangalore,Wickets,4.0,NaN,UT Yadav,"['KL Rahul', 'MA Agarwal', 'AJ Finch', 'Yuvraj...","['Q de Kock', 'BB McCullum', 'V Kohli', 'AB de...",A Deshmukh,S Ravi
307,1136567,Hyderabad,2018-04-12,2018,7,Mumbai Indians,Sunrisers Hyderabad,Rajiv Gandhi International Stadium,Sunrisers Hyderabad,field,N,Sunrisers Hyderabad,Wickets,1.0,NaN,Rashid Khan,"['RG Sharma', 'E Lewis', 'Ishan Kishan', 'SA Y...","['WP Saha', 'S Dhawan', 'KS Williamson', 'MK P...",CK Nandan,NJ Llong
308,1136566,Jaipur,2018-04-11,2018,6,Rajasthan Royals,Delhi Capitals,Sawai Mansingh Stadium,Delhi Daredevils,field,N,Rajasthan Royals,Runs,10.0,D/L,SV Samson,"['AM Rahane', 'DJM Short', 'BA Stokes', 'SV Sa...","['GJ Maxwell', 'C Munro', 'RR Pant', 'CH Morri...",KN Ananthapadmanabhan,Nitin Menon
309,1136565,Chennai,2018-04-10,2018,5,Kolkata Knight Riders,Chennai Super Kings,MA Chidambaram Stadium,Chennai Super Kings,field,N,Chennai Super Kings,Wickets,5.0,NaN,SW Billings,"['CA Lynn', 'SP Narine', 'RV Uthappa', 'N Rana...","['SR Watson', 'AT Rayudu', 'SK Raina', 'MS Dho...",AK Chaudhary,CB Gaffaney
310,1136564,Hyderabad,2018-04-09,2018,4,Rajasthan Royals,Sunrisers Hyderabad,Rajiv Gandhi International Stadium,Sunrisers Hyderabad,field,N,Sunrisers Hyderabad,Wickets,9.0,NaN,S Dhawan,"['AM Rahane', 'DJM Short', 'SV Samson', 'BA St...","['WP Saha', 'S Dhawan', 'KS Williamson', 'MK P...",NJ Llong,VA Kulkarni
311,1136562,Chandigarh,2018-04-08,2018,2,Delhi Capitals,Punjab Kings,Punjab Cricket Association IS Bindra Stadium,Kings XI Punjab,field,N,Punjab Kings,Wickets,6.0,NaN,KL Rahul,"['C Munro', 'G Gambhir', 'SS Iyer', 'V Shankar...","['KL Rahul', 'MA Agarwal', 'Yuvraj Singh', 'KK...",KN Ananthapadmanabhan,RJ Tucker
312,1136563,Kolkata,2018-04-08,2018,3,Royal Challengers Bangalore,Kolkata Knight Riders,Eden Gardens,Kolkata Knight Riders,field,N,Kolkata Knight Riders,Wickets,4.0,NaN,SP Narine,"['BB McCullum', 'Q de Kock', 'V Kohli', 'AB de...","['SP Narine', 'CA Lynn', 'RV Uthappa', 'N Rana...",A Deshmukh,C Shamshuddin
313,1136561,Mumbai,2018-04-07,2018,1,Mumbai Indians,Chennai Super Kings,Wankhede Stadium,Chennai Super Kings,field,N,Chennai Super Kings,Wickets,1.0,NaN,DJ Bravo,"['RG Sharma', 'E Lewis', 'Ishan Kishan', 'SA Y...","['SR Watson', 'AT Rayudu', 'SK Raina', 'KM Jad...",CB Gaffaney,A Nand Kishore

In [152]:
def rankPosition(rankpoints):
  ranking = ''
  if rankpoints == 1:
    return 'Winner' 
  elif rankpoints == 2:
    return 'Runner up'
  elif rankpoints == 3:
    return '3rd'
  elif rankpoints == 4:
    return '4th'
  else:
    return 'Qualifier'

dashboardDataframe = dashboardDataframe.sort_values('Points',ascending = False)
dashboardDataframe['SeasonPosition'] = dashboardDataframe['Points'].rank(method='min',ascending= False).apply(rankPosition)

dashboardDataframe

,team,MatchesPlayed,MatchesWon,MatchesLost,Points,SeasonPosition
7,Chennai Super Kings,16,11,5,22,Winner
0,Sunrisers Hyderabad,17,10,7,20,Runner up
1,Kolkata Knight Riders,16,9,7,18,3rd
4,Rajasthan Royals,15,7,8,14,4th
2,Punjab Kings,14,6,8,12,Qualifier
5,Royal Challengers Bangalore,14,6,8,12,Qualifier
6,Mumbai Indians,14,6,8,12,Qualifier
3,Delhi Capitals,14,5,9,10,Qualifier